<!doctype html>
<html lang="en">
<head>
    <title>Local Example</title>
</head>
<body>
<% if (user){ %>
<p>
    <a href="/">Home</a> |
    <a href="/logout">Logout</a>
</p>
<% }else{ %>
<p>
    <a href="/">Home</a> |
    <a href="/login">Login</a>
</p>
<% } %>